{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container-fluid row">
        <img style="height:100%" class="img-thumbnail rounded col-5" src="{{listing.image_url}}" alt="item display">
        <div class="col-7">
            <h2>{{ listing.item_name }}</h2>
            <h4>Created by {{ listing.created_by }}</h4>
            <br>
            <h4>Current Bid: ${{ listing.current_bid }}</h4>
            <br>
            <form action="{% url 'auctions:listing' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    {% if gray_out %}
                    <input type="button" class="btn btn-danger" name="watchlist_end" value="End bid">
                    {% else %}
                        {% if add_or_remove %}
                        <input type="submit" class="btn btn-danger mb-5" name="watchlist_remove" value="Remove from Watch List">
                        <br>
                        {% else %}
                        <input type="submit" class="btn btn-secondary mb-5" name="watchlist_add" value="Add to Watch List">
                        <br>
                        {% endif %}
                        <input type="number" min="{{min_price}}" value="{{min_price}}" name="bid_price" step="0.01">
                        <p>Min bid is {{min_price}}</p>
                        <input type="submit" class="btn btn-primary" name="bid_new" value="Bid!">
                    {% endif %}
                {% else %}
                <h4>Sign in to add to watchlist and bid</h4>
                {% endif %}
            </form>
        </div>
        <p>{{listing.description}}</p>
    </div>
{% endblock %}