{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container-fluid row">
        <img style="height:100%" class="img-thumbnail rounded col-5" src="{{listing.image_url}}" alt="item display">
        <div class="col-7">
            <h2>{{ listing.item_name }}</h2>
            <h4>Created by {{ listing.created_by }}</h4>
            <br>
            <h4>Current Bid: ${{ listing.current_bid }}</h4>
            <br>
            <form action="{% url 'auctions:listing' listing_id=listing.id %}">
                {% if user.is_authenticated %}
                    {% if gray_out %}
                    <input type="submit" class="btn btn-secondary" value="Unable to add to Watch List" disabled>
                    {% else %}
                    <input type="submit" class="btn btn-secondary" value="Add to Watch List">
                    {% endif %}
                {% endif %}
            </form>
        </div>
        <p>{{listing.description}}</p>
    </div>
{% endblock %}